
/* GENERAL */

  /* Sets the format for the whole website */
* {
  box-sizing: border-box;
}

/* This makes the scrolling on the page smooth*/
html { 
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

/* Formats the body on the website. It includes the fonts that have been added as well as the line height of the text. */
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

 /* Formats how all the h tags to have 0 margin on the website */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Hero Header */
.header-section {
  background-image: url("../Images/hero-bg.jpg"); /* Replace with your actual image URL */
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  position: relative;
}
.header-section:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.center-content {
  max-width: 600px;
  padding-top: 40px;
  position: relative;
  z-index: 3;
}

.main-heading {
  font-size: 3em;
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn-book {
  font-size: 1.2em;
}
/* Hero Hader End */

/* Four Card Start */
.four-cards .card {
  color: #fff;
  position: relative;
  overflow: hidden;
}

.bg-card {
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust the height as needed */
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
}

.four-cards .card-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Four Card End */

/* NAVBAR */
a {
  color: inherit !important;
}
.customNav {
  max-width: 2000px;
  width: 100%;
  color: white;
  background-color: #002F6C !important;
  background-size: cover;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
 padding-right: 15px;
 width: 90px;
}
.nav-item {
  margin: 0px 15px;
}
.signup:hover{
  cursor:pointer;
}

/* About Us CSS Code.  */

/* Styles the image and the title on the page. */
.abt__wrapper {
  width: 2000px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
/* Styles the About Globe Title. */
.abt__title {
  margin: 32px;
  color: #002f6c;
  text-decoration: underline;
}

/* Resizes the image. */
.img-fluid {
  height: 300px;
  width: 1000px;
}

/* Resizes the dropdown menus. */
.abt__dropdown--wrapper {
  width: 2000px;
  max-width: 100%;
  display: flex;
  justify-content: center !important;
}

.abt__dropdown {
  width: 1000px;
}

/* DESTINATIONS CSS*/

/* Resizes the image. */
.hero__image {
  background-image: url("../images/destinations-main_image.jpg");
  background-size: cover;
}
.hero__wrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles the hero Title. */
.hero__title {
  color: #002f6c;
  font-weight: 700;
  font-size: 64px;
}
.hero__text {
  font-size: 26px;
  color: #002f6c;
}
/* Styles the hero button. */
.hero__btn {
  width: 100px;
  background-color: #002f6c;
  border-color: #ffbd59;
  margin-top: 32px;
}

.row {
  padding-bottom: 32px;
}

/* DESTINATION START */

.destination__cards {
  width: 1200px;
  max-width: 100%;
}

.destination__cards .card {
  width: 350px !important;
}

.destination__cards .card-img-top {
  height: 200px;
}

.destination__cards .card-body {
  height: 320px;
}

.destination__cards .card__title {
  font-size: 24px;
  text-decoration: underline;
  color: #002f6c;
  margin-bottom: 16px;
}

/* DESTINATION END */

/* FAQS CSS START */

/* Styles the title on the page. */
.faqs__title {
  width: 2000px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  margin: 32px;
  color: #002f6c;
  text-decoration: underline;
  text-underline-offset: 6px; /* This lowers the line further. Stops the J in projects from breaking the line.*/
}

/* Resizes the dropdown menus. */
.faqs__dropdown--wrapper {
  width: 2000px;
  max-width: 100%;
  display: flex;
  justify-content: center !important;
}

.faqs__dropdown {
  width: 1000px;
}

/* FAQs CSS END */

/* POLICIES CSS START */

.policies__title {
  width: 2000px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  margin: 32px;
  color: #002f6c;
  text-decoration: underline;
}

/* Resizes the dropdown menus. */
.policies__dropdown--wrapper {
  width: 2000px;
  max-width: 100%;
  display: flex;
  justify-content: center !important;
}

.policy__dropdown {
    width: 1000px;
  }

  /* POLICIES CSS END */

  /* SIGNUP and LOGIN CSS START */

.account__title {
  width: 2000px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  margin: 32px;
  color: #002f6c;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.form__wrapper {
  margin-top: 80px;
  margin-bottom: 280px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}  

.form__fields {
  margin: 50px auto;
  max-width: 100%;
  width: 500px;
}

.account__btn {
  margin-top: 16px;
}

.redirect__link {
  text-decoration: none;
  color: #002f6c!important;
}

.form-check-label {
  text-decoration: none;
}

.tc_text {
  color: #002f6c !important;
}

#signup__message, #login__message {
  color: red;
  margin-top: 10px;
}

/* SIGNUP and LOGIN CSS END */


/* CHANGE CARD START */ 
 .change__card {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  color: #4470C3;
    
 }

 .change__btn {
  border: none !important;
    
 }
  
 .change__header {
  border: none;
  border-left: 100px solid rgb(33, 3, 88);
  height: 5px;
        
      }

/* CHANGE CARD END*/ 
      
/* STYLE MODAL START */

.modal{
 color: #004684;
}
      
.change__modal--title{
  font-size: 35px !important;
  box-shadow:inset 0px 0px 7px #004684 !important;
  border: none;
    
  }


.change__modal--body{
  background-color: #dae4f7;
}


.change__modal--btn{
  border-radius: 0px !important;
  cursor: pointer;
  position: relative;
  background-color: rgb(46, 95, 255) !important;
  align-items: center;
  font-size: 18px !important;
  border: none;
  margin-left: 18px;
}

.change__modal--footer{
  margin: 20px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px !important;
  list-style-type: none;
  background-color: rgba(5, 38, 99, 0.952);
  color: #ffbd59 !important;
  text-decoration: none;
}

.change__links{
  text-decoration: none;
 }

/* STYLE MODAL END */